NEXT_PUBLIC_ARC_RPC_URL=https://rpc.testnet.arc.network
NEXT_PUBLIC_ARC_EXPLORER_URL=https://testnet.arcscan.app
ARC_EXPLORER_API_URL=https://testnet.arcscan.app/api/v2
BLOCKSCOUT_API_KEY=
NEXT_PUBLIC_USE_MOCK_DATA=false
